body{
    padding-top: 50px;    
    background-color: white;
}

@media (min-width: 768px) {
    body{
        background: url('../image/bg.png') repeat-y;
    }
}

.logo{
    width: 30px;
}

.sidebar-nav{
    margin-top: 50px;
    width: 100%;
}

@media (min-width: 768px) {
    .sidebar-nav{
        width: 250px;
    }
}