@* users Template File *@
@(tickets: Map[model.Tables.BetTicketRow, Map[(model.Tables.BetTicketRow, model.Tables.MatchRow), List[(model.Tables.CompetitorRow, model.Tables.CompetitorRow, model.Tables.BetTicketMatchesRow)]]])

@main("Listići"){
    <div class="row">
    @for(t <- tickets.toList.sortBy(_._1.id)) {
        <div class="col-md-4">
            <h2>@t._1.displayName</h2>
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>Domaćin</th>
                    <th>Gost</th>
                    <th>Tip</th>
                </tr>
                @for(m <- t._2.toList.sortBy(_._1._2.scheduled.getTime)) {
                    @for(c <- m._2) {
                        <tr>
                            <td>@c._1.displayName</td>
                            <td>@c._2.displayName</td>
                            <td>@c._3.betType</td>
                        </tr>
                      }
                }
            </table>
        </div>
    }
    </div>
}