@* users Template File *@
@(tickets: Map[model.Tables.BetTicketRow, Map[(model.Tables.BetTicketRow, model.Tables.MatchRow), List[(model.Tables.CompetitorRow, model.Tables.CompetitorRow)]]])

@main("Tickets"){
            @for(t <- tickets.toList.sortBy(_._1.id)) {
                <h2>@t._1.displayName</h2>
                <div class="row">
                    <div class="col-md-3">
                        <table class="table table-condensed table-bordered">
                            <tr>
                                <th>Domaćin</th>
                                <th>Gost</th>
                            </tr>
                    @for(m <- t._2.toList.sortBy(_._1._2.scheduled.getTime)) {
                        @for(c <- m._2) {
                                    <tr>
                                        <td>@c._1.displayName</td>
                                        <td>@c._2.displayName</td>
                                    </tr>
                          }
                    }
                        </table>
                    </div>
                </div>
            }
}