@* users Template File *@
@(users: List[model.Tables.UserRow])

@main("Users"){
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Korisnici</h3>
        </div>
        <div class="panel-body">
            <table class="table table-condensed“">
              <tr>
                <th>id</th>
                <th>display_name</th>
                <th>email</th>
                <th>picture</th>
                <th>google_id</th>
                <th>role</th>
              </tr>
            @for(u <- users) {
              <tr>
                <td>@u.id</td>
                <td>@u.displayName</td>
                <td>@u.email</td>
                <td>@u.picture</td>
                <td>@u.googleId</td>
                <td>@u.role</td>
              </tr>
            }
            </table>
        </div>
    </div>
}